{% for alert in alerts %}
<div class="card">
    <div class="card" data-id="{{ alert.pk }}">
        <div class="card-body">
          <h6 class="card-title text-white">
              <i class="fa fa-plus"></i>
             {{ alert.emergency_type }}
          </h6>
         <div class="info">
            <p class="badge">Status {{ alert.status }}</p>
            <p>
                <i class="fa fa-info"></i>
               {{ alert.location_name }}
            </p>

            <p>
                <i class="fa fa-phone"></i>
              {{ alert.reported_by.mobile_no }}
            </p>
            <p>
                <i class="fa fa-calendar"></i>
               {{ alert.time }}
            </p>
         </div>

          <button class="btn btn-danger btn-sm decline" data-alert-id="{{ alert.pk }}">Decline</button>
          <button class="btn btn-success btn-sm response" data-alert-id="{{ alert.pk }}">Respond</button>
          <button class="btn btn-dark btn-sm view" data-alert-id="{{ alert.pk }}">View</button>
        </div>
    </div>
</div>
{% endfor %}