{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block style %}
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
    <link rel="stylesheet"
href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
type="text/css"
/>
{% endblock %}
{% block content %}
<div class="map-container">
    <div class="side-section ">
        <button class="btn btn-success btn-sm mx-2 mt-2 d-none" id="all-records">
            <i class="fa fa-eye"></i>
            View all Records
        </button>

        <button class="btn btn-success btn-sm mx-2 mt-2" id="refresh-alerts">
            <i class="fa fa-refresh"></i>
            Refresh
        </button>

        <div class="header">
          <div class="d-flex space-between">
              <p class="my-0">
                <i class="fa fa-bell"></i>
                Incoming Alerts
              </p>

              <i class="fa fa-search"></i>
          </div>
            
          <form action="" method="get" id="search-form">
            <input type="text" class="form-control" placeholder="Search Alert ..." name="q" id="search">
          </form>
            
        </div>

        <div class="alerts-card px-2 py-2" id="alerts-section">
          <!-- alert-list -->
          <!-- pagination: scroll -->
        </div>
    </div>

    <div id="map"></div>
    <div class="side-tab-right d-none" id="side-tab">
        <span class="btn-close" id="close-btn">
          <i class="fa fa-close"></i>
        </span>
        <div id="side-tab-body"></div>
    </div>
</div>

<!-- Floating side Tab with  -->


<!-- Modal -->
<!-- Response Modal -->
<div class="modal" tabindex="-1" id="response-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header px-1 py-1">
          <p class="modal-title">Respond To Alert</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="response" id="response-field" placeholder="Response Message" aria-label="message" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <span class="input-group-text" id="response">
                        <i class="fa fa-send"></i>
                  </span>
                </div>
              </div>
        </div>
      </div>
    </div>
</div>

<!-- Decline Modal -->
<div class="modal" tabindex="-1" id="decline-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header px-1 py-1">
          <p class="modal-title">Decline Alert </p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        
          <form action="" method="post" id="">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="reason" id="decline-field" placeholder="Decline Message" aria-label="message" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <span class="input-group-text" id="decline">
                        <i class="fa fa-send"></i>
                  </span>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
</div>

{% endblock %}
{% block javascript %}
    <script src='https://unpkg.com/@turf/turf/turf.min.js'></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
    <script src="https://unpkg.com/pbf@3.0.5/dist/pbf.js"></script>
    <script src="https://unpkg.com/geobuf@3.0.2/dist/geobuf.js"></script>
    <script src="{% static 'js/map.js' %}"></script>
{% endblock %}