{% extends "base.html" %}
{% load static %}
{% block title %}Reset your password{% endblock %}
{% block style %} 
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="card px-2 py-2">
            <form method="post">
                <h5>Forgotten your password?</h5>
                <p>Enter your e-mail address to obtain a new password.</p>
                {{ form.as_p }}
                {% csrf_token %}
               
                <button type="submit" class="btn btn-success w-100">Submit</button>
                
            </form>
        </div>
</div>
{% endblock %}