{% extends 'base.html' %}
{% load static %}
{% block title %} Change your Password {% endblock %}
{% block style %} 
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="card">
            <form method="post" class="px-2 py-2">
                <h5>Change your password</h5>
                {{ form.as_p }}
                <button type="submit" class="btn btn-success w-25 mt-2">Change</button>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}