{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %} Chat Room {% endblock %}
{% load humanize %}
{% block style %}
    <style>
        .container {
            box-shadow: 1px 1px 0.2em var( --light-gray);
        }

        .alert-header, .chat-header {
            padding: 1em;
            
        }

        .col-md-3, .col-md-6 {
            padding: 0;
            border: 1px solid var(--gray2);
        }

        .col-md-3 {
            border:0px solid var(--gray2);
            border-top-width: 1px;
            border-bottom-width: 1px;
            border-left-width: 1px;
        }

        .chat-item {
            border-bottom: 1px solid var(--gray2);
        }

        .chat-area {
            height: 400px;
            border-top: 1px solid var(--gray2);
            overflow-y: scroll;
        }

        .form-group {
            display: flex;
            align-items: flex-start;
            /* position: absolute; */
            bottom: 0;
            width: 100%;
            background-color: #fdfdfd;
            margin: 0 !important;
        }

        h5 {
            font-size: 1em;
            font-weight: 600;
            margin-bottom: 0;
        }

        .alerts-list {
            border-top:1px solid var(--gray2);
            height: 450px;
            overflow-y: scroll;
        }

        .chat-area {

        }

        .message {
            background-color:#ddd;
            color:black;
            background-color: #fff;
            padding: 0.2em;
            font-size: 0.91em;
            margin: 0.5em;
            width: 60%;
            position: relative;
            border-radius: 0.3em;
            box-shadow:  2px 2px 0.5em #ccc;
        }

        .date {
            position: absolute;
            bottom: 1%;
            right: 2%;
            font-size: 0.8em;
        }

        .me {
            float:right;
        }

        .other {
            float: left;
        }

        .list-group-item {
            padding:0.3em 0.2em;
            display: flex;
            align-items: center;
            border-radius: 0px !important;
            font-size: 0.9em;
        }

        .list-group-item a {
            color:var(--black) !important;
        }

        .list-group-item.active {
            background-color: #00800026;
            border:0px;
        }

        .list-group-item:hover {
            background-color: #faf9f9db;
        }

        .img-circle {
            border-radius: 50%;
            height: 35px;
            width: 35px;
            object-fit: cover;
        }

        textarea {
            min-height: 39px;
        }
        
        .form-control, .btn {
            border-radius: 0px !important;
        }

        /* alerts */
        .alert-header {
            position: relative;
            height: 40vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }

        .alert-header img  {
            /* height: 40vh; */
            height: 100px;
            width:100px;
        }
        .alert-header .fa {
            border-radius: 50%;
            color:var(--red);
            padding: 1em;
        }

        .alert-header p {
            color:var(--white);
        }

        .alert-header .badge {
            position:absolute;
            bottom:2%;
            right:2%;
            background-color: var(--white);
            color:var(--primary);
            padding:0.1em 0.2em;
        }

        .info div {
            padding: 0.4em 0.7em;
            border:0.5px solid var(--gray2);
            border-width: 0px 0px 0.5px 0px;
            font-size: 0.9rem;
        }

        .info div .fa {
            margin-left: 1em;
            margin-right: 1em;
        }

        .img-chat {
            height: 200px;
            width: 100%;
            object-fit: contain;
            background: saddlebrown;
        }

    </style>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="py-3 px-2">
                <span>View Alert Connversation</span>
                <i class="fa fa-search"></i>
            </div>

            <div class="alerts-list list-group" id="alert-list">
                {% for alert in alerts %}
                    <div class="list-group-item py-3 px-3 {% if alert.id == activeAlert.id %} active {% endif %}">
                        <img src="https://picsum.photos/id/237/200/300" alt="" class="img-circle mr-2">
                        <div class="mr-2">
                            <h5 class="mb-0">
                                <a href="/chat/room/{{alert.id}}" class="text-black">{{ alert.description }}</a>
                            </h5>
                            <span class="text-muted">{{ alert.emergency_type }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6 chat-section">
            <!-- chat room interface -->
            <div class="chat-header">
                <h5>{{ activeAlert.description }}</h5>
                <small class="text-muted">{{ activeAlert.time | naturalday }}</small>
            </div>

            <div class="chat-area" id="chat">
                <!-- list of charts -->
                {% for message in messages %}
                    <div class="message {% if message.author == user %} me {% else %} other {% endif %}" >
                        <strong>
                            {% if message.author == user %} me {% else %} {{ message.author.username }} {% endif %}
                        </strong> 
                        <span class="date">{{ message.time | naturaltime }}</span><br>
                            
                            {% if message.image %}
                                <img src="/media/{{message.image}}" class="img-chat" height="200px">
                            {% else %}
                                {{ message.text }}
                            {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="form-group mb-1">
                <textarea name="text" class="form-control" id="message" cols="30" rows="1"></textarea>
                <button type="submit" class="btn btn-primary" id="submit">
                    <i class="fa fa-paper-plane"></i>
                </button>
            </div>
        </div>

        <div class="col-md-3">
            <h5 class="text-center py-2">Alert Information</h5>

            <div class="">
                <div class="map"></div>
                <div class="alert-header bg-primary text-center">
                    <div>
                        {% if image %}
                            <img src="/media/{{image.image}}" alt="" class="img-circle">
                        {% else %}
                            <img src="https://picsum.photos/200" alt="" class="img-circle">
                        {% endif %}
                    </div>
                    <small>{{ activeAlert.reported_by.username }}</small>
                    <p class="badge">Status  {{ activeAlert.status }} </p>
               </div>
               <div class="alert-description">
                    <div class="info">
                        <div><i class="fa fa-info"></i> {{ activeAlert.location_name }} </div>
                        <!-- <div><i class="fa fa-phone"></i>{{ activeAlert.user.phone_number }}</div> -->
                        <div><i class="fa fa-home"></i> {{ activeAlert.location_name }} , Nyeri, Kenya</div>
                        <div><i class="fa fa-calendar"></i> {{ activeAlert.time |naturaltime }}</div>
                     </div>

                     <div class="media">
                         
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="/static/js/reconnecting-websocket.js"></script>
<script>
    var url = 'ws://' + window.location.host + '/ws/chat/room/' + '{{ activeAlert.id }}/';
    var chat = $('#chat');
    chat.scrollTop(chat[0].scrollHeight);

    // var chatSocket = new WebSocket(url);
    var chatSocket = new ReconnectingWebSocket(url);
    chatSocket.onopen = function() {
        console.log("Connected");
    }

    chatSocket.onmessage = function(e) {
        let data = JSON.parse(e.data);
        let { message, user, datetime, image } = data;
        console.log(data);

        var dateOptions = {hour: 'numeric', minute: 'numeric', hour12: true};
        var dateTime = new Date(datetime).toLocaleString('en',dateOptions);

        var isMe = user === '{{ request.user }}';
        var source = isMe ? 'me' : 'other';
        var name = isMe ? 'Me' : user;

        if(!image) {
            chat.append('<div class="message ' + source + '">' +
            '<strong>' + name + '</strong> ' +
            '<span class="date">' + dateTime + '</span><br>' +
            message +
            '</div>');
        } else {
            chat.append('<div class="message ' + source + '">' +
            '<strong>' + name + '</strong> ' +
            '<span class="date">' + dateTime + '</span><br>' +
            '<img src="' + image + '" class="img-chat" height="200px">'+
            '</div>');
        }
        
            
        chat.scrollTop(chat[0].scrollHeight);
    };

    chatSocket.onclose = function(e) {
        console.log("Chat closed unexpectedly");
    }


    var inputMessage = $('#message');
    var submitButton = $('#submit');

    submitButton.on("click", function(e) {
        // get the message
        let message = inputMessage.val();
        console.log(message);

        if(!message) return;

        // send the message
        chatSocket.send(JSON.stringify({'message':message, declined:false}))

        // reset the form input
        inputMessage.val("");
        inputMessage.focus();

        inputMessage.keyup(function(e) {
            if (e.which === 13) {
                // submit with enter / return key
                submitButton.click();
            }
        });

    });

    // get the active chat and move to the top
    var activeChat = $(".list-group-item.active");
    var alertList = $("#alert-list");

    if(activeChat[0]) {
        activeChat[0].scrollIntoView();
    }
</script>
{% endblock %}